# dependencies (bun install)
node_modules/

# output
/build
out/
dist/
*.tgz
/.old
.tmp/
.temp/

# code coverage
coverage/
*.lcov

# logs
logs/
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea

# macOS config
.DS_Store
